@import "./base.css";

.speakers__heading {
  font-size: 98px;
}

.speakers__list {
  margin: 95px 0 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 120px 200px;
}

.speaker {
  min-width: 360px;
  max-width: 480px;
}

.speaker__photo {
  height: 310px;
  width: 310px;
  object-fit: cover;
}

.speaker__photo--top {
  object-position: top center;
}

.speaker__name {
  margin: 36px 0 0;
  font-size: 32px;
}

.speaker__company {
  margin: 20px 0 0;
  font-size: 24px;
}

.speaker__bio {
  margin: 32px 0 0;
  font-size: 20px;
}

.speaker__company {
  color: var(--color-text-on-secondary);
}

@media screen and (max-width: 1200px) {
  .speakers__heading {
    font-size: 64px;
  }
  .speakers__list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 640px) {
  .speakers__heading {
    font-size: 48px;
  }
  .speaker {
    min-width: auto;
    max-width: 100%;
  }
  .speaker__photo {
    width: 150px;
    height: 150px;
  }
  .speaker__name {
    font-size: 24px;
  }
  .speaker__company {
    font-size: 20px;
  }
  .speaker__bio {
    max-width: 360px;
    font-size: 16px;
  }
}
